= form_for @wish do |f|
  -if @wish.errors.any?
    #error_explanation
      %h2= "#{@wish.errors.count}つのエラーがありました"
      %ul
        - @wish.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :purpose, :placeholder => t(:purpose)
  .field
    = f.text_field :cost, :placeholder => t(:cost), :type => 'number'
  .actions
    = f.submit t('kana.onegai')
