:javascript
  $(function(){
    var $progress = $('#progress');
    var $inner = $('#progress .inner');
    $inner.width($progress.width() * $inner.data('width'));
  });

%h2=t(:wish)

%div#progress
  %div.inner{:'data-width' => current_user.wishes.approved.monthly(params[:ym]).sum(:cost).to_f / current_user.pocket}

%p
  = number_with_delimiter(current_user.wishes.approved.monthly(params[:ym]).sum(:cost))+' 円'
  \/
  = number_with_delimiter(current_user.pocket)+' 円'

%ul{:'data-role' => 'listview'}
  - @wishes.each do |wish|
    %li{:class => "status_#{wish.status}"}
      - if wish.status == 2
        %a{:href => wish_path(wish)}
          %del
            %span.purpose= wish.purpose
            %span.purpose= number_with_delimiter(wish.cost)+' 円'
      - elsif wish.status == 0
        %a{:href => wish_path(wish)}
          (
          %span.purpose= wish.purpose
          %span.purpose= number_with_delimiter(wish.cost)+' 円'
          )
      - else
        %a{:href => wish_path(wish)}
          %span.purpose= wish.purpose
          %span.purpose= number_with_delimiter(wish.cost)+' 円'

%p
  = link_to t('kana.onegai'), new_wish_path, :'data-role' => 'button'
