%h2=t(:wish)

%p#progress
  %div.inner{:style => "width: #{current_user.wishes.approved.monthly(params[:ym]).sum(:cost).to_f / current_user.pocket * 100} %;"}

%p
  = number_with_delimiter(current_user.wishes.approved.monthly(params[:ym]).sum(:cost))+' 円'
  \/
  = number_with_delimiter(current_user.pocket)+' 円'

%ul{:'data-role' => 'listview'}
  - @wishes.each do |wish|
    %li{:class => "status_#{wish.status}"}
      %a{:href => wish_path(wish)}
        %span.purpose= wish.purpose
        %span.purpose= number_with_delimiter(wish.cost)+' 円'

%p
  = link_to t(:new), new_wish_path, :'data-role' => 'button'
