%p#notice= notice

%p
  %b Cost:
  = number_with_delimiter(@wish.cost)+' 円'
%p
  %b Purpose:
  = @wish.purpose
%p
  %b Status:
  = Wish::Status[@wish.status]

= link_to 'Edit', edit_wish_path(@wish)
\|
= link_to 'Back', wishes_path
