%ul{:'data-role' => 'listview'}
  %li
    %b=t(:cost)
    \:
    = number_with_delimiter(@wish.cost)+' 円'
  %li
    %b=t(:purpose)
    \:
    = @wish.purpose
  %li
    %b=t(:status)
    \:
    = Wish::Status[@wish.status]

%br

%div{:'data-role' => 'controlgroup', :'data-type' => 'horizontal'}
  - if @wish.status == 0
    = link_to t('kana.edit'), edit_wish_path(@wish), :'data-role' => 'button'
    = link_to t('kana.delete'), wish_path(@wish), :method => 'delete', :'data-role' => 'button', :target => 'none', :confirm => 'さくじょしますか？'
  = link_to t('kana.back'), wishes_path, :'data-role' => 'button'
