= form_for [:admin, @child] do |f|
  -if @child.errors.any?
    #error_explanation
      %h2= "#{pluralize(@child.errors.count, "error")} prohibited this child from being saved:"
      %ul
        - @child.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :childname
    = f.text_field :childname
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :pocket
    = f.text_field :pocket
  .actions
    = f.submit 'Save'
