= form_for [:admin, @child] do |f|
  -if @child.errors.any?
    #error_explanation
      %h2= "#{@child.errors.count}つのエラーがありました"
      %ul
        - @child.errors.full_messages.each do |msg|
          %li= msg

  .field
    - if @child.new_record?
      = f.text_field :childname, :placeholder => t(:childname)
    - else
      %b=t(:childname)
      \:
      = @child.childname
      
  .field
    = f.password_field :password, :placeholder => t(:password)
  .field
    = f.password_field :password_confirmation, :placeholder => t(:password_confirmation)
  .field
    = f.text_field :nickname, :placeholder => t(:nickname)
  .field
    = f.text_field :pocket, :placeholder => t(:pocket)
  .actions
    = f.submit t(:save)
