%ul{:'data-role' => 'listview'}
  %li
    %b=t(:childname)
    \:
    = @child.childname
  %li
    %b=t(:nickname)
    \:
    = @child.nickname
  %li
    %b=t(:pocket)
    \:
    = number_with_delimiter(@child.pocket)+' 円'

%ul{:'data-role' => 'listview'}
  - for ym in @ym_list
    - if ym == Date.today.strftime('%Y%m')
      %li=link_to "#{ym[0..3]}年#{ym[4..-1]}月のお願い", admin_child_wishes_path(@child)
    - else
      %li=link_to "#{ym[0..3]}年#{ym[4..-1]}月のお願い", admin_child_wishes_path(@child, :ym => ym)

%p
  = link_to t(:edit), edit_admin_child_path(@child), :'data-role' => 'button'
  = link_to t(:back), admin_children_path, :'data-role' => 'button'
