<!DOCTYPE html>
<html>
<head>
  <title>ぼくの / わたしのおこづかい</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="user_nav">
    <% if current_user %>
      <% if current_user.admin? %>
        ログイン中: <%= current_user.email %>,
        <%= link_to 'ログアウト', admin_logout_path %>
      <% else %>
        ログイン中: <%= current_user.nickname %> (<%= current_user.childname %>),
        <%= link_to child_logout_path %>
      <% end %>
    <% else %>
      <%= link_to '新規登録', signup_path %>, 
      <%= link_to 'おさいふ当番 ログイン', admin_login_path %>
      <%= link_to 'ぼく / わたし ログイン', child_login_path %>
    <% end %>
  </div><!-- /user_nav -->

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
